@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  z-index: 20;
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-arrow.slick-prev img {
  transform: rotate(180deg);
}

.slick-arrow::before {
  display: none;
}

.slick-track {
  display: flex;
  align-items: stretch;
}

.slick-track>div {
  height: 300px;
}